/{
    custompwms {
        compatible = "pwm-leds";
    
        custompwm0: custom_pwm_0 {
            pwms =  <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>, 
                    <&pwm0 1 PWM_MSEC(20) PWM_POLARITY_INVERTED>,
                    <&pwm0 2 PWM_MSEC(20) PWM_POLARITY_INVERTED>,
                    <&pwm0 3 PWM_MSEC(20) PWM_POLARITY_INVERTED>
                   ;
        };
    };
    aliases {
        mycustompwm = &custompwm0;
    };
};

&pinctrl {
    pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 11)>,
           <NRF_PSEL(PWM_OUT1, 0, 12)>,
           <NRF_PSEL(PWM_OUT2, 0, 15)>,
           <NRF_PSEL(PWM_OUT3, 0, 16)>;
			nordic,invert;
		};
	};
	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 11)>,
				    <NRF_PSEL(PWM_OUT1, 0, 12)>,
                    <NRF_PSEL(PWM_OUT2, 0, 15)>,
                    <NRF_PSEL(PWM_OUT3, 0, 16)>;
			low-power-enable;
		};
	};
};

&led0 {
    gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
};

&led1 {
    gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
};

&led2 {
    gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
};

&led3 {
    gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
};
