&uart0 { status = "disabled"; };
&uart1 { status = "disabled"; };
&i2c0 { status = "disabled"; };
&i2c1 { status = "disabled"; };
&spi0 { status = "disabled"; };
&spi1 { status = "disabled"; };
&spi3 { status = "disabled"; };
&qspi { status = "disabled"; };
&pwm0 { status = "disabled"; };
&pwm1 { status = "disabled"; };
&pwm2 { status = "disabled"; };
&pwm3 { status = "disabled"; };
&adc { status = "disabled"; };
// &gpio0 { status = "disabled"; };
// &gpio1 { status = "disabled"; };
&flash_controller { status = "disabled"; };
&cryptocell { status = "disabled"; };
&rtc0 { status = "disabled"; };
&rtc1 { status = "disabled"; };
&timer0 { status = "disabled"; };
&timer1 { status = "disabled"; };
&timer2 { status = "disabled"; };
&timer3 { status = "disabled"; };
&timer4 { status = "disabled"; };

// /* Disable the LEDs and buttons */
&led0 { status = "disabled"; };
&led1 { status = "disabled"; };
&led2 { status = "disabled"; };
&led3 { status = "disabled"; };
&button0 { status = "disabled"; };
&button1 { status = "disabled"; };
&button2 { status = "disabled"; };
&button3 { status = "disabled"; };

// &gpiote { status = "disabled"; };

/ {
	zephyr,user {
		// p000-gpios = <&gpio0 0 0>;
		// p001-gpios = <&gpio0 1 0>;
		p002-gpios = <&gpio0 2 0>;
		p003-gpios = <&gpio0 3 0>;
		p004-gpios = <&gpio0 4 0>;
		p005-gpios = <&gpio0 5 0>;
		p006-gpios = <&gpio0 6 0>;
		p007-gpios = <&gpio0 7 0>;
		p008-gpios = <&gpio0 8 0>;
		// p009-gpios = <&gpio0 9 0>;
		// p010-gpios = <&gpio0 10 0>;
		p011-gpios = <&gpio0 11 0>;
		p012-gpios = <&gpio0 12 0>;
		p013-gpios = <&gpio0 13 0>;
		p014-gpios = <&gpio0 14 0>;
		p015-gpios = <&gpio0 15 0>;
		p016-gpios = <&gpio0 16 0>;
		// p017-gpios = <&gpio0 17 0>;
		// p018-gpios = <&gpio0 18 0>;
		// p019-gpios = <&gpio0 19 0>;
		// p020-gpios = <&gpio0 20 0>;
		// p021-gpios = <&gpio0 21 0>;
		// p022-gpios = <&gpio0 22 0>;
		// p023-gpios = <&gpio0 23 0>;
		p024-gpios = <&gpio0 24 0>;
		p025-gpios = <&gpio0 25 0>;
		p026-gpios = <&gpio0 26 0>;
		p027-gpios = <&gpio0 27 0>;
		p028-gpios = <&gpio0 28 0>;
		p029-gpios = <&gpio0 29 0>;
		p030-gpios = <&gpio0 30 0>;
		p031-gpios = <&gpio0 31 0>;

		p100-gpios = <&gpio1 0 0>;
		p101-gpios = <&gpio1 1 0>;
		p102-gpios = <&gpio1 2 0>;
		p103-gpios = <&gpio1 3 0>;
		p104-gpios = <&gpio1 4 0>;
		p105-gpios = <&gpio1 5 0>;
		p106-gpios = <&gpio1 6 0>;
		p107-gpios = <&gpio1 7 0>;
		p108-gpios = <&gpio1 8 0>;
		p109-gpios = <&gpio1 9 0>;
		p110-gpios = <&gpio1 10 0>;
		p111-gpios = <&gpio1 11 0>;
		p112-gpios = <&gpio1 12 0>;
		p113-gpios = <&gpio1 13 0>;
		p114-gpios = <&gpio1 14 0>;
		p115-gpios = <&gpio1 15 0>;
	};
};
